html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ^^^^ RESET ^^^^ */
body {
	background-color: #bbb;
}
.spacer {
	margin: .5em 0;
	height: 40px;
}
.App-message {
	text-align: center;
	font-size: 1.5em;
	font-weight: normal;
	transition: all;
}

.App-message.needItem {
	background-color: yellow;
}

.App-message.needCalories {
	background-color: orange;
}

.App-message.deleted {
	background-color: red;
}

.App-message.edited {
	color: white;
	background-color: #444;
}
.content {
	margin: 0 auto;
	max-width: 1000px;
}

.header {
	margin-top: 1em;
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 15px 15px 0 0;
}

.header h1 {
	font-size: 2em;
}
ul {
	padding: .5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.item{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background: #fff;
	padding: .5em 0;
}
.item-button {
	width: 100%;
}

.item-info {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: .5em;
}
.item-info div {
	width: 50%;
	align-self: flex-start;
	padding: .5em;
	text-align: left;
}

li:nth-child(2n+3) {
    background-color: #ddd;   
}

.item-header {
	background-color: #ccc;
}
.item-form {
	margin: 0 auto;
	border-radius: 0px 0px 4px 4px;
	padding: .5em;
	display:flex;
	flex-direction: column;
}

input {
	padding: .9em;
	border-radius: 4px;
	margin: .3em 0;
	border: none;

}
input::placeholder {
	color: #ccc;
	font-size: 1.2em;
}
button {
	width: 70px;
	padding: 1em;
	color: #fff;
	border: none;
	border-radius: 4px;
	background-color: #1e5631;
	cursor: pointer;
}

.button-set {
	display: flex;
	justify-content: space-around;
	width: 50%;
}